@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
.arac-card {
    height: 400px;
}

.card h5 {
    font-size: 30px;
    font-family: Raleway;
    padding-bottom: 15px;
}